<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NavBarColor</key>
	<dict>
		<key>alpha</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>58</integer>
		<key>green</key>
		<integer>122</integer>
		<key>red</key>
		<integer>72</integer>
	</dict>
	<key>Sports</key>
	<dict/>
	<key>DirectoryNameTextColor</key>
	<dict>
		<key>alpha</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>89</integer>
		<key>green</key>
		<integer>61</integer>
		<key>red</key>
		<integer>14</integer>
	</dict>
	<key>SportsGradTopColor</key>
	<dict>
		<key>alpha</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>58</integer>
		<key>green</key>
		<integer>122</integer>
		<key>red</key>
		<integer>72</integer>
	</dict>
	<key>SportsGradBottomColor</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<integer>149</integer>
		<key>green</key>
		<integer>191</integer>
		<key>red</key>
		<integer>174</integer>
	</dict>
	<key>SportsLineColor</key>
	<dict>
		<key>alpha</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>89</integer>
		<key>green</key>
		<integer>61</integer>
		<key>red</key>
		<integer>14</integer>
	</dict>
	<key>SegmentControlColor</key>
	<dict>
		<key>alpha</key>
		<string>1</string>
		<key>blue</key>
		<string>75</string>
		<key>green</key>
		<string>191</string>
		<key>red</key>
		<string>145</string>
	</dict>
</dict>
</plist>
