<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.umece.android.umaine"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".UMaine"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".UMMap"></activity>
		<activity android:name=".UMCourses"></activity>


		<activity android:name="sports.UMSports" android:label="@string/sports_title"></activity>
		<activity android:name="sports.SportsDisplayisplay" ></activity>
		<activity android:name=".UMCourseDetails"></activity>
		<activity android:name=".UMDirectory"></activity>
		<activity android:name=".UMDirectoryDetails"></activity>
		
		<activity android:name="sports.SportsDisplaySchAll"></activity>
		<activity android:name="sports.SportsDisplaySchHockeyHockey"></activity>
		<activity android:name="sports.SportsDisplaySchBasketball"></activity>
		<activity android:name="sports.SportsDisplaySchOthers"></activity>
		
		<uses-library android:required="true" android:name="com.google.android.maps"></uses-library>
    </application>
    <uses-sdk android:minSdkVersion="8" />

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest> 
